.social {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  @include atSmall {
    flex-wrap: wrap;
    flex-direction: row;
  }

  @include atLarge {
    flex-direction: row;
  }

  &__card {
    flex: 1;
    text-align: center;

    background: var(--card-bg);
    border-radius: 4px;

    @include atSmall {
      flex: unset;
      width: calc(50% - 1rem);
      margin-bottom: 2rem;
    }

    @include atLarge {
      flex: 1;
      width: auto;
      margin: 0;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--card-bg-hover);
    }

    &:not(:last-child) {
      margin: 0 0 2rem 0;

      @include atSmall {
        margin-bottom: 2rem;
      }

      @include atLarge {
        margin: 0 2rem 0 0;
      }
    }

    &:nth-child(odd) {
      @include atSmall {
        margin: 0 2rem 2rem 0;
      }

      @include atLarge {
        margin: 0 2rem 0 0;
      }
    }
  }

  &__username {
    margin-top: 28px;
    display: flex;
    justify-content: center;

    font-size: $cards-heading-font-size;
    color: var(--text);

    & img {
      margin-right: 10px;
    }
  }

  &__no-followers {
    margin-top: 32px;

    font-size: 3.5rem;
    font-weight: 700;
    line-height: 0.9;
    color: var(--header-text);
  }

  &__followers {
    margin-top: 16px;

    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 200;
    color: var(--text);
    letter-spacing: 0.25rem;
  }

  &__trending {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px 0 24px 0;

    font-size: 0.75rem;
    font-weight: 700;

    & img {
      margin-right: 6px;
    }
  }
}
