.social {
  margin-top: 50px;
  display: flex;

  &__card {
    flex: 1;
    text-align: center;

    background: $light-grayish-blue;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: $light-gray;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__username {
    margin-top: 28px;
    display: flex;
    justify-content: center;

    font-size: $cards-heading-font-size;
    color: $dark-grayish-blue;

    & img {
      margin-right: 10px;
    }
  }

  &__no-followers {
    margin-top: 32px;

    font-size: 3.5rem;
    font-weight: 700;
    line-height: 0.9;
    color: $very-dark-blue;
  }

  &__followers {
    margin-top: 16px;

    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 200;
    color: $very-dark-blue;
    letter-spacing: 0.25rem;
  }

  &__trending {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px 0 24px 0;

    font-size: 0.75rem;
    font-weight: 700;

    & img {
      margin-right: 6px;
    }
  }
}
