// Layout
$mobile: 375px;
$desktop: 1440px;

// Primary Colors
$lime-green: #1db489;
$bright-red: #dc414c;

$facebook: #00bfff;
$twitter: #1ca0f2;
$instagram: linear-gradient(90deg, #fdc468, #df4996);
$youtube: #c4032a;

// Light Theme
$white: #ffffff;
$very-pale-blue: #f5f7ff;
$light-grayish-blue: #f0f2fa;
$dark-grayish-blue: #63687e;
$very-dark-blue: #1e202a;
$light-gray: #e0e2f0;

$toggle: #aeb3cb;

// Dark Theme
$toggled: linear-gradient(90deg, #3eda82, #378fe6);
$darker-blue: #1f212e;
$dark-desaturated-blue: #252a41;
$desaturated-blue: #8b97c6;
$light-desaturated-blue: #333a56;

// Fonts
$cards-heading-font-size: 0.875rem;
$primary-font: "Inter", sans-serif;
