@import 'variables';
@import 'mixins';
@import 'header';
@import 'social';
@import 'overview';
@import 'border-color-socials';

:root {
  --bg-color: #{$white};
  --top-bg-color: #{$very-pale-blue};
  --header-text: #{$very-dark-blue};
  --text: #{$dark-grayish-blue};
  --card-bg: #{$light-grayish-blue};
  --card-bg-hover: #{$light-gray};
  --header-border-color: #{$dark-grayish-blue};
}

[data-theme='dark'] {
  --bg-color: #{$very-dark-blue};
  --top-bg-color: #{$darker-blue};
  --header-text: #{$white};
  --text: #{$desaturated-blue};
  --card-bg: #{$dark-desaturated-blue};
  --card-bg-hover: #{$light-desaturated-blue};
  --header-border-color: #{$desaturated-blue};
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  font-family: $primary-font;
  margin: 0;
  padding: 0;
}

.wrap {
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 1rem;
}

.--trending-top {
  color: $lime-green;
}

.--trending-down {
  color: $bright-red;
}

.top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  background: var(--top-bg-color);
  z-index: -1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
