@import "variables";
@import "header";
@import "social";
@import "overview";
@import "border-color-socials";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

body {
  background-color: $white;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
}

.wrap {
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 1rem;
}

.--trending-top {
  color: $lime-green;
}

.--trending-down {
  color: $bright-red;
}

.top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  background: $very-pale-blue;
  z-index: -1;
}
